{% load staticfiles %}
<html>
    <head>
        <title>
            Download Image
        </title>
        <link rel = "stylesheet" href = {% static 'css/bootstrap.min.css' %} />
    </head>
    <body>
    <script src = {% static 'js/jquery-3.2.1.min.js' %}></script>
    <script>
        imageCount = 0
        counter = 0

        function download(){
            $.ajax({
                type: "GET",
                url: "/downloadingImage/",
                success: function(response){
                    if(response["download"] == "success"){
                        document.getElementById("imageProgress").innerHTML = "Images downloaded" + ++counter + "/" + imageCount;  
                        download();
                    }       
                }
            });
        }
        $(document).on('click', '#search', function(e){
            $.ajax({
                    type: "POST",
                    url: "/download/",
                    data: {
                    pk : document.getElementById('searchField').value
                    },
                    success: function(response){
                        imageCount = response["imageCount"]
                        document.getElementById("imageCount").innerHTML = " Found " + response["imageCount"] + "images <Button class = 'btn btn-primary' id = 'imageDownload'>Download</Button>"
                    },
                }); 
            });

        $(document).on('click', '#imageDownload', function(e){
            download();
        });
    </script>
    <div class = "container">
        <form>
            <div class = "form-group">
            <lable>Enter a zerochan link</lable>
            <input id = "searchField" class = "form-control" type = "text" name = "search"/>
            </div>

            <button id = "search" class = "btn btn-primary" name = "search" type = "button">Search</button>
        </form>
        <div id = "imageCount">
        </div>
        <div id = "imageProgress">
        </div>
    </div>
    </body>
</html>